<!DOCTYPE html>

<html>
<head>
    <title>{{#block "title"}}Blog{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <style>
        #img1{
            float: right;
            width: 600px;
            height: 590px;
            margin-right: 20px;
            margin-top: -270px;

        }
        #img2{
            float: left;
            width: 600px;
            height: 330px;
            margin-top: -10px;
        }
        #p1{
            color: #ce0b0b;
<!--            line-height: 1.8;-->


        }
    </style>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/students/new">Add a New student</a></li>
<!--    <li role="presentation"><a href="/features/new">Add a New features</a></li>-->
<!--    <li role="presentation"><a href="/reviews/new">Add a New reviews</a></li>-->
<!--    <li role="presentation"><a href="/activities/new">Add a New activities</a></li>-->

    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Airports  Menu <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {{#if airports}}
                {{#each airports}}
                    <li><a href="/airports/{{id}}">{{name}}<br>
                        {{code}}<br>
                        {{city}}<br>
                        {{distance}}
                    </a></li>
                {{/each}}
                <li><a href="/airports/new">Add an airport</a></li>
            {{else}}
                <!--                <li><a href="/airports/new">Add an airport</a></li>-->
            {{/if}}
        </ul>
    </li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Activity  Menu <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {{#if activities}}
                {{#each activities}}
                    <li><a href="/activities/{{id}}">{{inspectionDate}}<br>
                        {{inspectionArea}}<br>
                        {{inspectionOutcome}}<br>
                        {{serviceAbilityStatus}}<br>
                        {{airportId}}
                    </a></li>
                {{/each}}
                <li><a href="/activities/new">Add an activity</a></li>
            {{else}}
                <!--                <li><a href="/activities/new">Add an activity</a></li>-->
            {{/if}}
        </ul>
    </li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Features  Menu <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {{#if features}}
                {{#each features}}
                    <li><a href="/features/{{id}}">{{widthRunWay}}<br>
                        {{lengthRunWay}}<br>
                        {{strengthRunWay}}<br>
                        {{airportId}}
                    </a></li>
                {{/each}}
                <li><a href="/features/new">Add a feature</a></li>
            {{else}}
                <!--                <li><a href="/features/new">Add a feature</a></li>-->
            {{/if}}
        </ul>
    </li>
</ul>

<br>
<div class="container-fluid">
    <h2>WELCOME TO KINDIGA SCHOOL</h2>
    <div class="card" style="width: 18rem;">
        <img src="./images/k1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h3 class="card-title">ABOUT</h3>
            <P id="p1">Kindiga primary school is located in kiambu County in Githunguri constituency
                it hast been ranked the best for the last ten years KCPE examination results in the constituency <br>
                we just dont teach student we make sure they are able to apply the knowldege <br>
                in their day to day life. <br>
                This is what differentiate our student who study at Kingiga primary <br>
                from other students </P>
        </div>
    </div>

    <img id="img1"   src="./images/k.jpg" alt="">
     <img  id="img2" src="./images/k3.jpg" alt="">
    <br>
    <div class="container">
        <!--begin main template-->
        <div class="page-header">
<!--            <img src="/images/shutterstock-562317157.webp" width="70%" alt="">-->
<!--            <h1>A list of airports  <small>around you.</small></h1>-->
        </div>
        <div class="col-md-12">
            {{#block "content"}}

            {{/block}}

        </div>
    </div>

</div>
<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
        <div class="container">
            <hr>
            <!--            <p class="text-muted">-->
            <!--                <a href="/categories/delete">delete all categories & bookings</a><br>-->
            <!--                <a href="/bookings/delete">delete all bookings</a>-->
            <!--            </p>-->
        </div>
    </footer>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </html>
{{/block}}