{{#partial "content"}}
    <p>Name:{{ student.name }} </p>
    <p>PhoneNumber:{{ student.phoneNumber }} </p>
    <p>Email:{{ student.email }} </p>



    <p>
<!--        <a href="/bookings/{{booking.id}}/edit">Edit this booking</a><br>-->
        <a href="/students/{{student.id}}/edit">Edit this student</a><br>
<!--        <a href="/students/{{student.id}}/delete">DELETE all students</a>-->
    </p>

{{/partial}}
{{> layout.hbs}}