{{#partial "content"}}
    <p>Here are all the units listed with the students score:</p>
    <ul>
        {{#each teachers}}

            <p><a href="/teachers/{{teacher.studentId}}/students/{{id}}">{{name}}{{comment}}{{studentId}}</a></p>

        {{/each}}
    </ul>
    <button>    <a href="/units/{{unit.studentId}}/edit">Edit teachers</a><br>
    </button>
    <button>
        <a href="/units/{{unit.studentId}}/delete">DELETE this teachers</a>
    </button>
{{/partial}}

{{> layout.hbs}}